.example-container {
    width: 40%;
    height: 40%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: list-item;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}